/**
 * 全局变量
 * 命名规范：xs < sm < md < lg < xl < xxl
 */

$white: #fff;
$pink: #d70073;
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

// border相关
$border-radius-sm: 0.08rem;
$border-color-gray: #c8c9cc;

// 常用间距
$space-xs: 0.08rem;
$space-md: 0.2rem;
